<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"  android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"  android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.VasanthamXM"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VasanthamXM.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VasanthamXM.NoActionBar" />
        <activity
            android:name=".ui.attendance.SelfieAttendance"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VasanthamXM.NoActionBar" />
        <activity
            android:name=".ui.attendance.SelfConfirmActivity"
            android:exported="true"
            android:label="Self Confirm Activity"
            android:theme="@style/Theme.VasanthamXM.NoActionBar"/>
        <activity
            android:name=".AttendanceSucess"
            android:exported="true"
            android:label="Self Confirm Activity"
            android:theme="@style/Theme.VasanthamXM.NoActionBar" >

        </activity>
        <activity
            android:name=".LogsActivity"
            android:exported="true"
            android:label="Self Confirm Activity"
            android:theme="@style/Theme.VasanthamXM.NoActionBar" />
        <activity
            android:name=".AttendanceSuccessDetail"
            android:exported="true"
            android:label="Self Confirm Activity"
            android:theme="@style/Theme.VasanthamXM.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VasanthamXM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.slings.vasantham.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>